.title {
    color: #00b39b !important;
    font-family: 'Work Sans', sans-serif !important;
    font-weight: bolder;
}
p {
    line-height: 1.75;
    font-weight: bolder;
}
.partners {
    font-size: 30px;
    color: #00b39b;
}
.partner{
    height: 1.2rem;
    width: auto;
    filter: grayscale(1);
}
.partner:hover{
    filter: grayscale(0);
}
.partner-znany {
    height: 2.6rem;
    width: auto;
    filter: grayscale(1);
}
.partner-znany:hover{
    filter: grayscale(0);
}
.partner-gipo {
    height: 2.5rem;
    width: auto;
    filter: grayscale(1);
}
.partner-gipo:hover{
    filter: grayscale(0);
}
.partner-clinicloud {
    height: 1.8rem;
    width: auto;
    filter: grayscale(1);
}
.partner-clinicloud:hover{
    filter: grayscale(0);
}
.t {
    font-size: 2.125rem;
    color: #00b39b;
}
.chiffres {
    background: #e5faf8;
    background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
}
