.title {
    color: #00b39b !important;
    font-family: 'Work Sans', sans-serif !important;
    font-weight: bolder;
}
p {
    line-height: 1.75;
    font-weight: bolder;
}
.partners {
    font-size: 2.125rem;
    color: #00b39b;
}
.doctoralia{
    height: 2rem;
    width: auto;
}